<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelpMeLift"
        tools:targetApi="31">
        <activity
            android:name=".ui.BicepWorkout.Waiter_Curl"
            android:exported="true" />
        <activity
            android:name=".ui.BicepWorkout.Incline_Bicep_Curl"
            android:exported="true" />
        <activity
            android:name=".ui.BicepWorkout.Standing_Bicep_Curl_db"
            android:exported="true" />
        <activity
            android:name=".ui.BicepWorkout.Standing_Bicep_Curl_bb"
            android:exported="true" />
        <activity
            android:name=".ui.AbsWorkout.russiantwist"
            android:exported="true" />
        <activity
            android:name=".ui.AbsWorkout.lsit"
            android:exported="true" />
        <activity
            android:name=".ui.AbsWorkout.situps"
            android:exported="true" />
        <activity
            android:name=".ui.AbsWorkout.crunch"
            android:exported="true" />
        <activity
            android:name=".AbsMuscle"
            android:exported="true" />
        <activity
            android:name=".BicepMuscle"
            android:exported="true" />
        <activity
            android:name=".CalvesMuscle"
            android:exported="true" />
        <activity
            android:name=".DeltMuscle"
            android:exported="true" />
        <activity
            android:name=".ForearmsMuscle"
            android:exported="true" />
        <activity
            android:name=".GlutesMuscle"
            android:exported="true" />
        <activity
            android:name=".HamstringMuscle"
            android:exported="true" />
        <activity
            android:name=".LatsMuscle"
            android:exported="true" />
        <activity
            android:name=".LowerBackMuscle"
            android:exported="true" />
        <activity
            android:name=".QuadsMuscle"
            android:exported="true" />
        <activity
            android:name=".TrapsMuscle"
            android:exported="true" />
        <activity
            android:name=".TricepMuscle"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>